@model MenuFormModel

@{
    ViewData["Title"] = "Add Menu";
}
<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12 ">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-3 text-center">Add Menu</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3 form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Menu Name">
                        <span asp-validation-for="Name" class="small text-danger"></span>
                    </div>
                     <div class="mb-3 form-group">
                        <label asp-for="RestaurantId"></label>
                        <select asp-for="RestaurantId" class="form-control">
                            @foreach (var restaurant in Model.Restaurants)
                            {
                                <option value="@restaurant.Id">@restaurant.Name</option>
                            }
                        </select>
                    </div>
                    <input class="btn btn-dark" type="submit" value="Save" />
                </form>
            </div>
            <div class="card-footer">
            </div>
        </div>


    </div>
</div>
