
@{
    ViewData["Title"] = "Edit Restaurants";

}
<h2 class="text-center">@ViewBag.Title</h2>

<partial name="_RestaurantFormPartial" model="@Model"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
